%h2 New Game

= form_for @new_game, url: games_path, method: :post do |f|
  = f.error_messages

  %ul
    %li.player_1
      = f.label :player_1, "Name"
      = f.text_field :player_1
    %li.actions
      = f.submit "Create Game"

%h2 Join Game

%table
  %thead
    %tr
      %th Player
      %th Join
  %tbody
    - @games.each do |game|
      %tr{id: "game_#{game.id}"}
        %td= game.player_1
        %td
          = form_for game, url: join_game_path(id: game.id), method: :post do |f|
            = f.error_messages

            %ul
              %li.player_1
                = f.label :player_2, "Name"
                = f.text_field :player_2
              %li.actions
                = f.submit "Join Game"
