:ruby
  offensive = (type == :offensive)
  dom_classes = []
  dom_classes << :can_attack if player.has_turn?

.theater{id: "#{type}_theater", class: dom_classes}
  %h3= offensive ? "You" : "Enemy"
  %table.grid
    %thead
      %tr
        %td &nbsp;
        - theater.columns.each do |column|
          %th= column
    %tbody
      - theater.rows.each_with_index do |row, y|
        %tr
          %th= row
          - theater.columns.each_with_index do |column, x|
            = render_theater_cell(theater.at([x, y]))
